body {
    background-color: rgb(231, 153, 166);
    background-image: url("images/fractalTree.png");
    background-position: right;
    background-size: 40% auto contain;
    background-repeat: no-repeat;
    font-family: fantasy;
    text-align: center;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.4;
    color: rgb(66, 50, 50);
    font-size: 18px;
    padding: 0 10px;
}

h1 {
    color:rgb(39, 22, 25);
    line-height: 1.2;
}
link {
    color:rgb(39, 22, 25);
}
#fish {
    height: auto;
    width: 40%;
    position: fixed;
    top: right;
    
}