body {
    /* height: 100vh;
    width: 100vh; */
    background-color: rgb(231, 153, 166);
    background-image: url("images/fractalTree.png");
    background-position: right;
    background-size: 40% auto contain;
    background-repeat: no-repeat;
    font-family: fantasy;
    text-align: center;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.4;
    color: rgb(66, 50, 50);
    font-size: 18px;
    padding: 0 10px;
}

#whatever {
    background-image: url("images/Gnarly.png");
    height: 100vh;
    width: 100vh;
    background-size: contain;
    background-repeat: repeat-x;
    -webkit-box-reflect: left 20px;
    background-attachment: fixed;
}

#paragraph {
    text-align: left;
    background-color: beige;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    color:rgb(39, 22, 25);
    line-height: 1.2;
}

a {
    color: #A569BD;
}

a:hover {
    color: #000000;
}

#fish {
    height: auto;
    width: 25%;
    top: right;
    position: fixed;
}
#seaweed {
    top: 1;
    position: fixed;
    height: auto;
    width: 25%;
}
#pagecontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fishdescription {
    display: flex;
    border-radius: 15px;
    background-color: pink;
    height: 50%;
    align-items: center;
    height: fit-content;
    padding: 10px;
}

.game {
    background-image: url("images/coolBkgnd.png")
}

.breakout {
    background-position: top;
}

.follow {
    position: fixed;
    left: 0;
    top: 0;
}

.paddle {
    width: 50px;
    height: 200px;
    background-color: pink;
    border: 5px solid black;
}

.paddleLeft {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 20px;
}

.paddleRight {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 20px;
}

#ball {
    position: fixed;
    right: 60;
    top: 0;
    height: 50px;
    width: auto;
}

.score {
    color: aliceblue;
}

#winningBanner {
    background-color: transparent;
    height: 20px;
    width: 200px;
    padding: 10px;
    margin: auto;
}

.bPaddle {
    position: fixed;
    height: 25px;
    width: 100px;
    bottom: 10px;
    left: auto;
}